/* Fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=IM+Fell+English+SC&display=swap');
.im-fell-english-sc-regular {
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  .cinzel-normal {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
/* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    color: darkslategray;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
/*  */
body {
    background-image: url(./images/mauricio-santos-N1gFsYf9AI0-unsplash\ .jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
/* header styles */
.header-wrapper {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
    
}
h1 {
    font-size: clamp(2rem, 0rem + 2.2vw, 4rem);
}
p {
    font-size: clamp(1.2rem, 0rem + 2.2vw, 1.6rem);
}
.attribute,a{
    color: whitesmoke;
}
/* form styles */
.form-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
    width: clamp(450px, 800px, 75vw);
    min-height: 80vh;
    background-color: wheat;
    opacity: .95;
    padding: 20px;
    border: 7px solid hsl(240, 1%, 30%);
    border-radius: 5px;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    flex: auto;
    padding: 10px;
}
fieldset {
    padding: 10px;
}
legend {
    text-align: center;
    background-color: hsl(240, 1%, 30%);
    color: whitesmoke;
}
.house-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, input[type="radio"] {
    margin-bottom: 5px;
}
.info-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.info-wrapper > div {
    display: flex;
    flex-direction: column;
}
.four {
    justify-self: flex-end;
}
.submit-btn {
    border-radius: 10px;
    padding: 5px;
    background-color: hsl(240, 3%, 30%);
    color: whitesmoke;
}
.submit-btn:hover {
    background-color: hsl(240, 1%, 45%);
}
.submit-btn:active {
    transform: translateY(3px);
}
/* input validation */
input:valid {
    border: 3px solid green;
} 
input:invalid {
    border: 3px solid red;
}